.red{
    color: red;
}

.yellow{
    color: #e1f100;
}

.margenimg
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.cuerpo
{
    margin-bottom: 250px;
}

.vinculos
{
    margin-left: 50px;
}



